body { font-family: sans-serif; }
h1, h2, h3 {
  font-family: serif;
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: monospace; }

.row {
    display: flex;
}

.column {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}

table {
  border-collapse: collapse;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  width: 100%;
}

table th,
table td {
  border-top: 1px solid #dee2e6;
  padding: 5px;
}

table tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.05);
}

table thead th {
  border-bottom: 2px solid #dee2e6;
  vertical-align: bottom;
}

.space-3 {
  margin-top: 5em
}

.full-width-pre > pre {
	margin-left: -4em;
	margin-right: -4em;
}

blockquote {
  background: #dee2e6;
  margin-left: 0;
  padding: 0.5em;
}

blockquote > *:first-child {
  margin-top: 0;
}

blockquote > *:last-child {
  margin-bottom: 0
}